body {
  font-family: 'Nunito', sans-serif;
  color: #FAF3BC;
  background: #420600 url('img/bg-texture.jpg')
}

a {
  color: #4FD69F;
  text-decoration: none;
}

h1 {
  font-size: 1.750em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.500em;
  color: #B4C34F;
}
